main {
    #gallery {
        margin-top: 10rem;

        .container {
            .guide {
                text-align: center;
                padding: 10px;
                width: 70%;
                margin: 0 auto;

                .method {
                    display: flex;
                    justify-content: center;
                    gap: 2rem;
                    place-items: center;

                    >.primary-text {
                        letter-spacing: 1.6px;
                        text-transform: none;
                        font-size: 1.1rem;
                    }
                }

                >p {
                    padding-top: 25px;
                }
            }
            >h2{
                padding: 4rem 0;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.8rem;
                >span{
                    font-size: 5rem;
                    font-weight: 800;
                    position: relative;
                    &::before{
                        position: absolute;
                        content: '';
                        width: 90px;
                        height: 100px;
                        background-image: url(/accets/highlight3.png);
                        background-repeat: no-repeat;
                        background-size: 110% auto;
                        bottom: -6rem;
                    }
                }
            }
            .filter-gallery-row{
                .tab-links{
                    padding: 0 0 4rem 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 2rem;
                    >button{
                        text-transform: uppercase;
                        color: $bg-black-color;
                        font-weight: 700;
                        cursor: pointer;
                        font-size: 0.8rem;
                        position: relative;
                        background-color: transparent;
                        border: none;
                        &::before{
                           content: '';
                            position: absolute;
                            width: 0;
                            height: 4px;
                            background-color: $primary-text-color;
                            bottom: -5px;
                        }
                        &:hover::before{
                            width: 100%;
                        }
                        &.active{
                            color: $primary-text-color;
                            cursor: pointer;
                            position: relative;
                            &::before{
                                content: '';
                                 position: absolute;
                                 width: 100%;
                                 height: 4px;
                                 background-color: $primary-text-color;
                                 bottom: -5px;
                             }
                        }
                    }
                }
                .gallery{
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 4rem 1rem;
                    >.img-gallery{
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            cursor: pointer;
                        }
                        >span{
                            color: $bg-black-color;
                            font-weight: 600;
                            cursor: pointer;
                        }
                    }
                   
                }
            }
        }
    }
}
// =========Media Query For (Medium Devices)==========>
@media screen and (max-width: 900px) {
    main{
        #gallery{
            .container{
                width: $container-md;
                .guide{
                    width: 100%;
                    padding: 0px;
                    text-align: center;
                    .method{
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}
// =========Media Query For (Small Devices)==========>
@media screen and (max-width: 600px) {
    main{
        #gallery{
            .container{
                width: $container-sm;
                .guide{
                    width: 100%;
                    padding: 0px;
                    text-align: center;
                    .method{
                        flex-wrap: wrap;
                        justify-content: space-between;
                        gap: 1rem;
                        >.primary-text{
                            font-size: 0.9rem;
                        }
                    }
                    >p{
                        font-size: 0.9rem;
                    }
                }
                >h2{
                    font-size: 1.8rem;
                    flex-wrap: wrap;
                    text-align: center;
                    >span{
                        font-size: 3rem;
                        &::before{
                            width: 70px;
                        }
                    }
                }
                .filter-gallery-row{
                    .tab-links{
                        flex-wrap: wrap;
                        gap: 1.3rem;
                    }
                    .gallery{
                        grid-template-columns: 1fr;
                    }
                }
            }
        }
    }
}